{% extends 'base.html.twig' %}

{% block body %}
    <h3>Wyszukaj swoją stronę w imieniu której chcesz publikować posty</h3>
    <h5>Uwaga musisz posiadać uprawnienia do zarządzania tą stroną na facebooku!</h5>

    {{ form_start(form) }}
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                Wyszukaj
            </div>
            <div class="col-md-6">
                {{ form_widget(form.search, {'attr' :{'class' : 'form-control'}}) }}
                {{ form_errors(form.search) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-default" id="search">Szukaj</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block addjavascripts %}
{% endblock %}
