{% extends 'base.html.twig' %}

{% block body %}
    <h1>FbPage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fbPage.id }}</td>
            </tr>
            <tr>
                <th>Fbid</th>
                <td>{{ fbPage.fbId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ fbPage.name }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fbpage_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
